@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #263238;
	--secondary: #314549;
	--nav-bg: #1e272c;
	--primary-text: #ffffff;
	--secondary-text: #949494;
	--primary-button: #26373a;
	--secondary-button: #3e747b;
	--danger: #ff6969;
	--success: #8ce790;
	--warning: #f0ce7e;
}

.App {
	height: 100vh;
	width: 100vw;
	background-color: var(--primary);
	color: var(--primary-text);
}

nav {
	background-color: var(--nav-bg);
	height: 75vh;
	max-height: 50rem;
	width: 100px;
	position: fixed;
	top: calc(50% - 75vh / 2);
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	border-bottom-right-radius: 2rem;
	border-top-right-radius: 2rem;
	box-shadow: 0px 5px 4px 0px rgb(0 0 0 / 50%);

	.branding {
		font-size: 1.5rem;
		font-weight: 700;
		color: var(--primary-text);
	}

	svg {
		font-size: 2rem;
		margin: 2rem auto;
		color: var(--primary-text);
	}
}
