/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

/* Scroll bar */
::-webkit-scrollbar {
	width: 0.75rem;
}

::-webkit-scrollbar-track {
	background: #0c131a;
}

::-webkit-scrollbar-thumb {
	background: #070c10;
}

::-webkit-scrollbar-thumb:hover {
	background: #040608;
}
